<!DOCTYPE html>
<html>
<head>
    <title>Dr. Amar Panchal</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Dr. Amar Panchal</h1>

    <nav>
        <a href="/">About Me</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<div class="container">

{% block content %}
{% endblock %}

</div>

<footer>
    <p>© 2026 Dr. Amar Panchal | Career Credentials</p>
</footer>

</body>
</html>