{% extends "base.html" %}

{% block content %}

<h2>Contact Information</h2>

<div class="contact-box">

<p>
<strong>Name:</strong> Dr. Amar Panchal
</p>

<p>
<strong>Organization:</strong> Career Credentials
</p>

<p>
<strong>Role:</strong> Technical Trainer & Co-Founder
</p>

<p>
<strong>Specialization:</strong>
Python, Java, C, C++, DSA,
Computer Networks,
Generative AI,
Career Counselling
</p>

<p>
<strong>Email:</strong>
amar@careercredentials.com
</p>

<p>
<strong>Website:</strong>
www.careercredentials.com
</p>

<p>
<strong>Message:</strong>
Helping students become industry-ready professionals through practical learning and mentorship.
</p>

</div>

{% endblock %}